body{
    font-family:'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 30px;
}

.orange-color span{
    color:orange;
    font-weight: bolder;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
    margin-top: 15px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-align: center;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 15px;

    height: 20px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width2{
    width: 50%;
}
.half-width2 img{
    width: 90%;
}
h2{
    font-size: 40px;
}
.half-width2 p h2{
    width: 100%;
}
.dream a{

    margin-left: 30%;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 150px;
}
.half-width2 blockquote{
    font-size: 20px;
}
#big{
    margin-left: 250px;
}
.thirty-width{
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 10%;
    padding-left: 15px;
    padding-left: 15px;
    border-radius: 5px;
}

.orange-color{
    color:orange;
    font-weight: bolder;
}
.thirty-width h2{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
.thirty-width h6{
    font-size: 20px;
}

.thirty-width h4{
    font-size: 30px;
}
.education{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#edu-border3{
    border-left: 10px solid;
    border-image: linear-gradient(black, whitesmoke);
    border-image-slice: 1;
}
footer{background-color: black;
    text-align: center;
    color: white;
    position:static;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    height: 50px;
}
footer a{
    text-decoration: none;
    color: lavenderblush;
}
.navber a{
    text-decoration: none;
    font-size: 24px;
    padding: 10px 100px 10px 100px;
    margin: auto;
    color:black;    
    border-radius: 10px;
    overflow: hidden;
}
.navber nav{
    background-color: white;
    text-align: center;
    padding: 25px;
    position: sticky;
}
.navber nav a:hover{
    background-image: linear-gradient(orange, tomato);
    color: white;
    transition: 0.5s;
    padding: auto;
}
.project-container{
    display: flex;
}
.pro-thirty-width{
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 10%;
    padding-left: 15px;
    padding-left: 15px;
    border-radius: 100px;
}
.pro-thirty-width h2{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
.pro-thirty-width p{
    font-style: normal;
    font-size: 17px;
   
}

.pro-thirty-width a{
    text-decoration: none;
    margin-left: 42%;
    color: tomato;

}
   